<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Timestamp Microservice</title>
</head>
<body>
    <h1>Timestamp Microservice</h1>
    <hr>
    <label>Example usage:</label>
    <div id="link-block">
        <a href="http://">[project url]/api/timestamp/2015-12-25</a>
    </div>
</body>
<script type="module" src="../index.js"></script>
</html>