body {
    font-family: 'Roboto, sans-serif';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h1{
    font-weight: 700;
    font-size: 60px;
}

#link-block {
    font-size: 25px;
    margin-top: 20px;
}

#link-block a{

}